body {
  font-family:Arial, Helvetica, sans-serif;
  background: #f5f6f7;
  margin: 0;
  padding: 25px;
}

.container {
  max-width: 900px;
  margin: auto;
}



.status-block {
  margin-top: 10px;
  padding: 10px;
  border-left: 3px solid #007bff;
}
